{% extends 'base.html' %} 

{% block content %}
      <!--Jumbotron-->
     
      <div class="p-5 mb-4 bg-gradient rounded-3">
        <div class="container-fluid py-5">
          <h2 class="display-5 fw-bold">Tokanol</h2>
          <p class="col-md-8 fs-4">Tokanol merupakan website e-commers tempat pelelangan ikan Online nomor 1 se-INDONESIA. Kami berkomitmen akan terus memajukan pasar perikanan di Indonesia, serta mengabdi untuk mensejahterakan para nelayan.</p>
        </div>
      </div>
      <br><br>
      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="container " style="text-align: center;"> 
        <div class="row">
          <div class="col-lg-4">
            <img src="IMG//man.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
    
            <h2>Abdul Manaf</h2>
            <p>SEO Tokanol</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="IMG//man.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
    
            <h2>Abdul Ghaffar</h2>
            <p>Owner Tokanol </p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="IMG//man.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
    
            <h2>Abdul Khadir</h2>
            <p>Inverstor Tokanol</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
    <!--Jumbotron-->
    <!--Galeri-->
    <br><br><br><br><br><br>
    <div class="row featurette ">
        <div class="col-md-7">
          <h2 class="featurette-heading">Dedicated for <span class="text-muted">Indonesia fisherman.</span></h2>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus voluptatibus recusandae tenetur, quo temporibus at deleniti et provident consequuntur eum earum iure saepe placeat vel odio non doloremque, fugit facere!. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non repudiandae, dolores quisquam velit dignissimos corrupti voluptas fugit, iste facere quis tempore consequuntur distinctio ea dolor laudantium eligendi error quo quibusdam?</p>
        </div>
        <div class="col-md-5">
          <img src="IMG/pexels-pixabay-511088.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">\</text></img>
  
        </div>
      </div>
      <br><br>
    
    {% endblock %}
    
    
        
    
        