 <!--Navbar-->
      
 <header class="d-grid justify-content-center py-3">
    <br>
      <ul class="nav nav-pills">
        <li class="nav-item" style="font-size: 18px;"><a href="http://127.0.0.1:8000/halaman1/" class="nav-link " aria-current="page">Home</a></li>
        <li class="nav-item" style="font-size: 18px;"><a href="http://127.0.0.1:8000/halaman2/" class="nav-link">Alat Nelayan</a></li>
        <li class="nav-item" style="font-size: 18px;"><a href="#" class="nav-link">Jual Ikan</a></li>
        <li class="nav-item" style="font-size: 18px;"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item" style="font-size: 18px;"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  <!--Navbar-->